# ZADANIE 3.1
Czy podany kod jest poprawny składniowo w Pythonie? Jeśli nie, to dlaczego?

In [1]:
x = 2; y = 3;
if (x > y):
    result = x;
else:
    result = y;
for i in "axby": if ord(i) < 100: print (i)
for i in "axby": print (ord(i) if ord(i) < 100 else i)

SyntaxError: invalid syntax (<ipython-input-1-52c952a1bfb1>, line 6)

Są dwa problemy:
1. W Pythonie nie można umieszczać instrukcji if w tej samej linii co pętla for. Należy rozdzielić pętlę for i instrukcję if.
2.  Chociaż średniki są dozwolone w Pythonie do oddzielania instrukcji, nie są one powszechnie używane.

# ZADANIE 3.2
Co jest złego w kodzie:

In [5]:
L = [3, 5, 4] ; L = L.sort()
print(L)

None

Metoda sort() sortuje listę w miejscu i zwraca None, więc przypisanie L = L.sort() powoduje, że L staje się None

In [7]:
x, y = 1, 2, 3

ValueError: too many values to unpack (expected 2)

To przypisanie jest niepoprawne, ponieważ próbuje przypisać trzy liczby do dwóch zmiennych.

In [8]:
X = 1, 2, 3 ; X[1] = 4

TypeError: 'tuple' object does not support item assignment

X jest krotką (tuple), a krotki są niemutowalne, więc przypisanie X[1] = 4 spowoduje błąd.

In [9]:
X = [1, 2, 3] ; X[3] = 4

IndexError: list assignment index out of range

Indeks 3 jest poza zakresem, ponieważ lista ma tylko indeksy 0, 1 i 2.

In [10]:
X = "abc" ; X.append("d")

AttributeError: 'str' object has no attribute 'append'

Metoda append() działa na listach, ale jeśli X jest zdefiniowane jako X = "abc", to "abc" jest łańcuchem znaków, który jest niemutowalny.

In [11]:
L = list(map(pow, range(8)))

TypeError: pow() missing required argument 'exp' (pos 2)

To wywołanie jest niepoprawne, ponieważ pow wymaga przynajmniej dwóch argumentów.

# ZADANIE 3.3
Wypisać w pętli liczby od 0 do 30 z wyjątkiem liczb podzielnych przez 3.

In [26]:
for i in range(31):
  if i % 3 != 0:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

# ZADANIE 3.4
Napisać program pobierający w pętli od użytkownika liczbę rzeczywistą x (typ float) i wypisujący x oraz trzecią potęgę x. Zatrzymanie programu następuje po wpisaniu z klawiatury stop. Jeżeli użytkownik wpisze napis zamiast liczby, to program ma wypisać komunikat o błędzie i kontynuować pracę.

In [23]:
while True:
  user_input = input("Podaj liczbę rzeczywistą lub wpisz 'stop' aby zakończyć: ")

  if user_input.lower() == 'stop':
    print("Program zakończył działanie.")
    break

  try:
    x = float(user_input)
    print(f"Liczba: {x}, Trzecia potęga: {x**3}")
  except ValueError:
    print("Error: Wprowadzono niepoprawną wartość. Proszę wpisać liczbę rzeczywistą.")

Podaj liczbę rzeczywistą lub wpisz 'stop' aby zakończyć: 34
Liczba: 34.0, Trzecia potęga: 39304.0
Podaj liczbę rzeczywistą lub wpisz 'stop' aby zakończyć: kfs
Error: Wprowadzono niepoprawną wartość. Proszę wpisać liczbę rzeczywistą.
Podaj liczbę rzeczywistą lub wpisz 'stop' aby zakończyć: stop
Program zakończył działanie.

# ZADANIE 3.5
Napisać program rysujący "miarkę" o zadanej długości. Należy prawidłowo obsłużyć liczby składające się z kilku cyfr (ostatnia cyfra liczby ma znajdować się pod znakiem kreski pionowej). Należy zbudować pełny string, a potem go wypisać.

In [14]:
def rysuj_miarke(dlugosc):
  miarka_gora = ""
  for i in range(dlugosc):
    miarka_gora += "|...."
  miarka_gora += "|\n"

  miarka_dol = ""
  for i in range(dlugosc + 1):
    miarka_dol += f"{i:<5}"

  miarka = miarka_gora + miarka_dol
  print(miarka)

In [24]:
dlugosc = int(input("Podaj długość miarki: "))
rysuj_miarke(dlugosc)

Podaj długość miarki: 12
|....|....|....|....|....|....|....|....|....|....|....|....|
0    1    2    3    4    5    6    7    8    9    10   11   12

# ZADANIE 3.6
Napisać program rysujący prostokąt zbudowany z małych kratek. Należy zbudować pełny string, a potem go wypisać.

In [16]:
def rysuj_prostokat(szerokosc, wysokosc):
  prostokat = "+" + "---+" * szerokosc + "\n"

  for _ in range(wysokosc):
    prostokat += "|" + "   |" * szerokosc + "\n"
    prostokat += "+" + "---+" * szerokosc + "\n"

  print(prostokat)

In [38]:
wysokosc = int(input("Podaj wysokość: "))
szerokosc = int(input("Podaj szerokość: "))
rysuj_prostokat(szerokosc, wysokosc)

Podaj wysokość: 2
Podaj szerokość: 4
+---+---+---+---+
|   |   |   |   |
+---+---+---+---+
|   |   |   |   |
+---+---+---+---+

# ZADANIE 3.8
Dla dwóch sekwencji liczb lub znaków znaleźć: (a) listę elementów występujących jednocześnie w obu sekwencjach (bez powtórzeń), (b) listę wszystkich elementów z obu sekwencji (bez powtórzeń).

In [25]:
def znajdz_elementy(sekwencja1, sekwencja2):
  zbior1 = set(sekwencja1)
  zbior2 = set(sekwencja2)

  #(a) część wspólna
  wspolne = list(zbior1 & zbior2)

  #(b) suma zbiorów
  wszystkie = list(zbior1 | zbior2)

  return wspolne, wszystkie

In [27]:
sekwencja1 = "12345"
sekwencja2 = "34567"

wspolne, wszystkie = znajdz_elementy(sekwencja1, sekwencja2)

print("Elementy występujące w obu sekwencjach:", wspolne)
print("Unikalne elementy z obu sekwencji:", wszystkie)

Elementy występujące w obu sekwencjach: ['3', '5', '4']
Unikalne elementy z obu sekwencji: ['1', '3', '7', '6', '5', '2', '4']

# ZADANIE 3.9
Mamy daną listę sekwencji (listy lub krotki) różnej długości zawierających liczby. Znaleźć listę zawierającą sumy liczb z tych sekwencji. Przykładowa sekwencja [[],[4],(1,2),[3,4],(5,6,7)], spodziewany wynik [0,4,3,7,18].

In [29]:
def sumy_sekwencji(lista_sekwencji):
  return [sum(sekwencja) for sekwencja in lista_sekwencji]

In [36]:
lista_sekwencji = [[],[4],(1, 2),[3, 4],(5, 6, 7)]
wynik = sumy_sekwencji(lista_sekwencji)
print(wynik)

[0, 4, 3, 7, 18]

# ZADANIE 3.10
Stworzyć słownik tłumaczący liczby zapisane w systemie rzymskim (z literami I, V, X, L, C, D, M) na liczby arabskie (podać kilka sposobów tworzenia takiego słownika). Mile widziany kod tłumaczący całą liczbę [funkcja roman2int()].

1. Ręczne stworzenie słownika

In [ ]:
rzymskie_na_arabskie = {
  'I': 1,
  'V': 5,
  'X': 10,
  'L': 50,
  'C': 100,
  'D': 500,
  'M': 1000
}

2. Użycie funkcji zip()

In [ ]:
litery = ['I', 'V', 'X', 'L', 'C', 'D', 'M']
wartosci = [1, 5, 10, 50, 100, 500, 1000]
rzymskie_na_arabskie = dict(zip(litery, wartosci))

3. Użycie dict() z krotek

In [ ]:
rzymskie_na_arabskie = dict([
  ('I', 1), ('V', 5), ('X', 10),
  ('L', 50), ('C', 100), ('D', 500), ('M', 1000)
])

Funkcja roman2int()

In [32]:
def roman2int(roman):
  rzymskie_na_arabskie = {
    'I': 1,
    'V': 5,
    'X': 10,
    'L': 50,
    'C': 100,
    'D': 500,
    'M': 1000
  }

  liczba_arabska = 0
  poprzednia_wartosc = 0

  for litera in reversed(roman):
    wartosc = rzymskie_na_arabskie[litera]

    if wartosc < poprzednia_wartosc:
      liczba_arabska -= wartosc
    else:
      liczba_arabska += wartosc

    poprzednia_wartosc = wartosc

  return liczba_arabska

In [35]:
print(roman2int("LXXIII"))
print(roman2int("MCDX"))

73
1410